.header {
  display: flex;
  position: fixed;
  width: 90%;
  margin-left: 10%;
  margin-right: 5%;
  height: 50px;
}

.header-container {
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 26%;
  margin-right: 10%;
  text-align: center;
}

.header-container a {
  display: inline-block;
  background: #2196f3;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: 2px solid blue;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
}

@media (max-width: 400px) {
  .header-container {
    width: 32%;
    margin-right: 2%;
  }

  .header {
    margin-left: 3%;
    margin-right: unset;
  } 
}