body 
{
  margin: unset;
  font-family: 'Caveat', cursive;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 25px;
}

.wrapper {
  max-width: 100%;
  width: 1000px;
  height: 100%;
  margin: auto;
}

.wrapper:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container {
  display: block;
}

.container:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.about-us.container {
  background: #c2e4fc; 
}

.about-us {
  font-size: 23px;
  padding: 17px;
}

.column {
  float: left;
  width: 49.5%;
}

.left {
  border-right: 3px solid lightgray;
}

.title {
  text-align: center;
}

.paint-name {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.paint-setter {
  text-align: center;
}

.paint-container {
  width: 100%;
}

.paint-container:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.paint-left-column {
  margin-right: 0.9%;
} 

.paint {
  border: 2px solid #1e4f73;
  width: 100%;
}

.price {
  margin-left: 10%;
  display: inline-block;
  margin-right: 10%;
  padding: 3px;
  border: 2px solid cyan;
  border-radius: 15px;
}

.buy-button {
  margin-right: 10%;
  text-align: center;
  width: 80px;
  display: inline-block;
  padding: 4px;
  background: #328f6d;
  color: #fff;
  border: 2px solid blue;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none; 
}

@media(max-width: 725px) {

  .buy-button {
    margin-right: 2%;
    margin-top: 30px;
    float: right;
  }

  .price {
    margin-left: 2%;
    float: left;
  }

  .column {
    width: 100%;
  }

  .left {
    border: unset;
  }
}
